<div class="alert  text-left" role="alert">
    <h3><i class="glyphicon glyphicon-flash"></i> 技能要求指数</h3>
    <div class="row skillContent">
        <div class="col-md-3 skillContentTitle text-right">
            <p><span>HTML5</span></p>
            <p><span>CSS3</span></p>
            <p><span>Javascript</span></p>
            <p><span>jQuery</span></p>
            <p><span>H5 移动</span></p>
        </div>
        <div class="col-md-7 skillContentStar">
            <p><i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i></p>
            <p><i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i></p>
            <p><i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i></p>
            <p><i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i></p>
            <p><i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i></p>
        </div>
    </div>
</div>