
<!--<hr style="border-top:3px solid #1979FF;">-->
<footer class="navbar navbar-default navbar-static-top text-center" style="padding:55px 0;">
    <div class="container ">
        <p><span class="text-danger">红色</span> 标记为 知识点主体、概念或定义。</p>
        <p>
            在线调试：<a href="https://jsfiddle.net/">JSFiddle</a> |
            系统基于 <a href="https://jsfiddle.net/">Express</a> 驱动
        </p>
        <p>
            &copy; FedJS Inc. 2016 - 2017 版权所有 翻版必究
        </p>
    </div>
</footer>
