<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> 首页</a>
      </li>
      <li>
        <a href="/frontEndValueInterview">
            <span class="glyphicon glyphicon-user"></span> 前端价值面试
        </a>
      </li>
        <li class="dropdown">
            <a href="/H5" class="dropdown-toggle" data-toggle="dropdown" role="button">
                <span class="glyphicon glyphicon-book"></span> H5 面试方向
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <!--<li class="divider"></li>-->
                <li><a href="/H5/Html5">HTML5</a></li>
                <li><a href="/H5/Css3">CSS3</a></li>
                <li><a href="/H5/ES5Javascript">Javascript（原生）</a></li>
                <li><a href="/H5/jQuery">jQuery</a></li>
                <li><a href="/H5/H5Mobile">H5 移动端</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="/AngularJS" class="dropdown-toggle" data-toggle="dropdown" role="button">
                <span class="glyphicon glyphicon-book"></span> AngularJS 面试方向
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <!--<li class="divider"></li>-->
                <!--<li><a href="/H5/Html5">HTML5</a></li>-->
                <!--<li><a href="/H5/Css3">CSS3</a></li>-->
                <!--<li><a href="/H5/ES5Javascript">Javascript（原生）</a></li>-->
                <!--<li><a href="/H5/jQuery">jQuery</a></li>-->
                <!--<li class="divider"></li>-->
                <li><a href="/AngularJS/AngularJS1x">AngularJS</a></li>
                <li><a href="/AngularJS/AngularJS2">AngularJS 2</a></li>
                <li><a href="/AngularJS/AngularJSIonic">Ionic</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="/React" class="dropdown-toggle" data-toggle="dropdown" role="button">
                <span class="glyphicon glyphicon-book"></span> React 面试方向
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <!--<li><a href="/H5/Html5">HTML5</a></li>-->
                <!--<li><a href="/H5/Css3">CSS3</a></li>-->
                <!--<li><a href="/H5/ES5Javascript">Javascript（原生）</a></li>-->
                <!--<li><a href="/H5/jQuery">jQuery</a></li>-->
                <!--<li><a href="/H5/ES6Javascript">ES6</a></li>-->
                <!--<li class="divider"></li>-->
                <li><a href="/React/React">React</a></li>
                <li><a href="/React/ReactNative">React + Native</a></li>
                <li><a href="/React/ReactReduxNative">React + Redux + Native</a></li>
            </ul>
        </li>
        <li>
            <a href="/Interviewer" class="dropdown-toggle" data-toggle="dropdown" role="button">
                <span class="glyphicon glyphicon-user"></span> 面试官空降
                <span class="caret"></span>
                <ul class="dropdown-menu" role="menu">
                    <!--<li class="divider"></li>-->
                    <li><a href="/Interviewer/HTML5">Html5 面试官</a></li>
                    <li><a href="/Interviewer/AngularJS">Angular 面试官</a></li>
                    <li><a href="/Interviewer/React">React 面试官</a></li>
                </ul>
            </a>
        </li>
        <li>
            <a href="/Team" class="dropdown-toggle" data-toggle="dropdown" role="button">
                <span class="glyphicon glyphicon-user"></span> 团队合作
                <span class="caret"></span>
                <ul class="dropdown-menu" role="menu">
                    <!--<li class="divider"></li>-->
                    <li><a href="/Team/HTML5">Html5 合作</a></li>
                    <li><a href="/Team/AngularJS">Angular 合作</a></li>
                    <li><a href="/Team/React">React 合作</a></li>
                </ul>
            </a>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right dropdown">
        <a href="/Help" class="dropdown-toggle" data-toggle="dropdown" role="button">
            <span class="glyphicon glyphicon-book"></span> 帮助
            <span class="caret"></span>
        </a>
          <ul class="dropdown-menu" role="menu">
              <li><a href="/Help/Personal">个人使用</a></li>
              <li><a href="/Help/Enterprise">企业使用</a></li>
              <li class="divider"></li>
              <li><a href="/Service"><span class="glyphicon glyphicon-euro"></span> 快速提升[付费]</a></li>
          </ul>
      </li>
    </ul>
  </div>
</nav>
