<!DOCTYPE html>
<html>
<head>
    <title>Sass 面试必备 - StartBit</title>
    <% include ../../header.ejs %>
</head>
<body>
<% include ../../nav.ejs %>
<div class="jumbotron text-center">
    <div class="container">
        <a href="/" class="lang-logo">
            <img src="/public/img/html5.jpg">
        </a>
        <h1>HTML5 面试必备</h1>
        <p>
            万维网的核心语言、标准通用标记语言下的一个应用超文本标记语言（HTML）的第五次重大修改。
        </p>
        <% include ../H5/star.ejs %>
    </div>

</div>
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h3><span class="glyphicon glyphicon-check"></span> HTML5面试必备</h3>
            <div style="margin-top:5%;">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="q1">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#a1" aria-expanded="false" aria-controls="a1">

                            </a>
                        </h4>
                    </div>
                    <div id="a1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q1">
                        <div class="panel-body">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <h3><span class="glyphicon glyphicon-home"></span> 快捷导航</h3>
            <ul class="nav nav-stacked sidebar-nav">
                <li><a href="" class=""><span class="glyphicon glyphicon-ok"></span> 基本指令</a></li>
                <li><a href="" class=""><span class="glyphicon glyphicon-ok"></span> 运行原理</a></li>
                <li><a href="" class=""><span class="glyphicon glyphicon-ok"></span> 性能优化</a></li>
                <li><a href="" class=""><span class="glyphicon glyphicon-ok"></span> 设计思想</a></li>
                <li><a href="" class=""><span class="glyphicon glyphicon-ok"></span> 全面方案</a></li>
                <li><a href="" class=""><span class="glyphicon glyphicon-ok"></span> 模块通信</a></li>
            </ul>
        </div>
    </div> <!-- row -->
</div>


</body>
</html>
