<!DOCTYPE html>
<html>
<head>
    <title>StartBit</title>
    <% include ../../header.ejs %>
</head>
<body>
<% include ../../nav.ejs %>
<div class="jumbotron text-center">
    <div class="container">
        <a href="/" class="lang-logo">
            <img src="/public/img/icon.ico">
        </a>
        <h1>中国第一个提出“前端价值面试”的招聘标准的专业互金团队</h1>
        <p>
            &check;已服务300家互联网团队

            &check;已帮助提升600位非前端行业人员成功转行
        </p>
        <p>
            &check;“不成功不收费”前端招聘外包新起点

            &check; 好评如潮
        </p>

        <a type="button" class="btn btn-lg btn-default" href=""><span class="glyphicon glyphicon-flash"></span> Getting
            Started with Node</a>
        <a type="button" class="btn btn-lg btn-primary" href=""><span class="glyphicon glyphicon-download"></span>
            Source on GitHub</a>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h3><span class="glyphicon glyphicon-check"></span> React 面试必备</h3>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="q1">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#a1" aria-expanded="true" aria-controls="a1">

                            </a>
                        </h4>
                    </div>
                    <div id="a1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="q1">
                        <div class="panel-body">

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="q2">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#a2" aria-expanded="false" aria-controls="a2">

                            </a>
                        </h4>
                    </div>
                    <div id="a2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q2">
                        <div class="panel-body">

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="q3">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#a3" aria-expanded="false" aria-controls="a3">

                            </a>
                        </h4>
                    </div>
                    <div id="a3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q3">
                        <div class="panel-body">

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="q4">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#a4" aria-expanded="false" aria-controls="a4">

                            </a>
                        </h4>
                    </div>
                    <div id="a4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q4">
                        <div class="panel-body">

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="q5">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#a5" aria-expanded="false" aria-controls="a5">

                            </a>
                        </h4>
                    </div>
                    <div id="a5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q5">
                        <div class="panel-body">

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="q6">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#a6" aria-expanded="false" aria-controls="a6">

                            </a>
                        </h4>
                    </div>
                    <div id="a6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q6">
                        <div class="panel-body">

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="q7">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#a7" aria-expanded="false" aria-controls="a7">

                            </a>
                        </h4>
                    </div>
                    <div id="a7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q7">
                        <div class="panel-body">

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="q8">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#a8" aria-expanded="false" aria-controls="a8">

                            </a>
                        </h4>
                    </div>
                    <div id="a8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q8">
                        <div class="panel-body">

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="q9">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#a9" aria-expanded="false" aria-controls="a9">

                            </a>
                        </h4>
                    </div>
                    <div id="a9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q9">
                        <div class="panel-body">

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="q10">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#a10" aria-expanded="false" aria-controls="a10">

                            </a>
                        </h4>
                    </div>
                    <div id="a10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q10">
                        <div class="panel-body">

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="q11">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#a11" aria-expanded="false" aria-controls="a11">

                            </a>
                        </h4>
                    </div>
                    <div id="a11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q11">
                        <div class="panel-body">

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="q12">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#a12" aria-expanded="false" aria-controls="a12">

                            </a>
                        </h4>
                    </div>
                    <div id="a12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q12">
                        <div class="panel-body">

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="q13">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#a13" aria-expanded="false" aria-controls="a13">

                            </a>
                        </h4>
                    </div>
                    <div id="a13" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q13">
                        <div class="panel-body">

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="q14">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#a14" aria-expanded="false" aria-controls="a14">

                            </a>
                        </h4>
                    </div>
                    <div id="a14" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q14">
                        <div class="panel-body">

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="q15">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#a15" aria-expanded="false" aria-controls="a15">

                            </a>
                        </h4>
                    </div>
                    <div id="a15" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q15">
                        <div class="panel-body">

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="q16">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#a16" aria-expanded="false" aria-controls="a16">

                            </a>
                        </h4>
                    </div>
                    <div id="a16" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q16">
                        <div class="panel-body">

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="q17">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#a17" aria-expanded="false" aria-controls="a17">

                            </a>
                        </h4>
                    </div>
                    <div id="a17" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q17">
                        <div class="panel-body">

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="q18">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#a18" aria-expanded="false" aria-controls="a18">

                            </a>
                        </h4>
                    </div>
                    <div id="a18" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q18">
                        <div class="panel-body">

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="q19">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#a19" aria-expanded="false" aria-controls="a19">

                            </a>
                        </h4>
                    </div>
                    <div id="a19" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q19">
                        <div class="panel-body">

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="q20">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#a20" aria-expanded="false" aria-controls="a20">

                            </a>
                        </h4>
                    </div>
                    <div id="a20" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q20">
                        <div class="panel-body">

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="q21">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#a21" aria-expanded="false" aria-controls="a21">

                            </a>
                        </h4>
                    </div>
                    <div id="a21" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q21">
                        <div class="panel-body">

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="q22">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#a22" aria-expanded="false" aria-controls="a22">

                            </a>
                        </h4>
                    </div>
                    <div id="a22" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q22">
                        <div class="panel-body">

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="q23">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#a23" aria-expanded="false" aria-controls="a23">

                            </a>
                        </h4>
                    </div>
                    <div id="a23" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q23">
                        <div class="panel-body">

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="q24">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#a24" aria-expanded="false" aria-controls="a24">

                            </a>
                        </h4>
                    </div>
                    <div id="a24" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q24">
                        <div class="panel-body">

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="q25">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#a25" aria-expanded="false" aria-controls="a25">

                            </a>
                        </h4>
                    </div>
                    <div id="a25" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q25">
                        <div class="panel-body">

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="q26">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#a26" aria-expanded="false" aria-controls="a26">

                            </a>
                        </h4>
                    </div>
                    <div id="a26" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q26">
                        <div class="panel-body">

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="q27">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#a27" aria-expanded="false" aria-controls="a27">

                            </a>
                        </h4>
                    </div>
                    <div id="a27" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q27">
                        <div class="panel-body">

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-2">
            <h3><span class="glyphicon glyphicon-link"></span> Next Steps</h3>
        </div>
    </div> <!-- row -->
</div>


</body>
</html>
