<!DOCTYPE html>
<html>
<head>
    <title>AngularJS 1.x.x+ - StartBit</title>
    <% include ../../../header.ejs %>
</head>
<body>
<% include ../../../nav.ejs %>
<div class="jumbotron text-center">
    <div class="container">
        <a href="/" class="lang-logo">
            <img src="/public/img/angularjsLogo.png">
        </a>
        <h1>AngularJS 1.x.x+</h1>
        <span>AngularJS1 最新版本为 1.5.8</span>
        <p>AngularJS 诞生于2009年，由<code>Misko Hevery</code>等人创建，后为 <code>Google</code> 所收购，一款优秀的 <code>MVVM</code> 框架，已经被用于Google的多款产品当中。</p>
        <p>AngularJS有着诸多特性，最为核心的是：MVC、模块化、自动化双向数据绑定、语义化标签、依赖注入等等。</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h3><span class="glyphicon glyphicon-check"></span> AngularJS面试必备</h3>
            <div style="margin-top:5%;">
                <div id="step1">
                    <h4>准备工作</h4>
                    <p></p>
                </div>
                <div id="step2">
                    <h4>模块</h4>
                    <p></p>
                </div>
                <div id="step3">
                    <h4>控制器</h4>
                    <p></p>
                </div>
                <div id="step4">
                    <h4>基础服务</h4>
                    <p></p>
                </div>
                <div id="step5">
                    <h4>搜索库</h4>
                    <p></p>
                </div>
                <div id="step6">
                    <h4>搜索栏</h4>
                    <p></p>
                </div>
                <div id="step7">
                    <h4>使用搜索功能</h4>
                    <p></p>
                </div>
                <div id="step8">
                    <h4>获取库中的数据</h4>
                    <p></p>
                </div>
                <div id="step9">
                    <h4>获取库中的README文件</h4>
                    <p></p>
                </div>
                <div id="step10">
                    <h4>显示库信息</h4>
                    <p></p>
                </div>
                <div id="step11">
                    <h4>更新控制器</h4>
                    <p></p>
                </div>
                <div id="step12">
                    <h4>获取用户的库</h4>
                    <p></p>
                </div>
                <div id="step13">
                    <h4>显示用户的库</h4>
                    <p></p>
                </div>

            </div>
        </div>
        <div class="col-md-2">
            <h3><span class="glyphicon glyphicon-home"></span> 快捷导航</h3>
            <ul class="nav nav-pills">
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
            </ul>
        </div>
    </div> <!-- row -->
</div>

<% include ../../../footer.ejs %>
</body>
</html>
