<!DOCTYPE html>
<html>
<head>
    <title>Angular2 面试必备 - StartBit</title>
    <% include ../../header.ejs %>
</head>
<body>
<% include ../../nav.ejs %>
<div class="jumbotron text-center">
    <div class="container">
        <a href="/" class="lang-logo">
            <img src="/public/img/angular.png">
        </a>
        <h1>Angular2 面试必备</h1>
        <p>
            <span>Angular2 最新版本为 2.1.0</span>
        </p>
        <p>
            Angular 是一个用 HTML 和 JavaScript 或者一个可以编译成 JavaScript 的语言（例如 Dart 或者 TypeScript ），来构建客户端应用的框架。
        </p>
        <% include ../AngularJS/star.ejs %>

        <a type="button" class="btn btn-lg btn-default" href="https://angular.io/">
            <span class="glyphicon glyphicon-bookmark"></span>
            Angular2 官方网站
        </a>
        <!--<a type="button" class="btn btn-lg btn-primary" href="">-->
            <!--<span class="glyphicon glyphicon-download"></span>-->
            <!--Source on GitHub</a>-->
    </div>
</div>
<div class="container">
    <!--<div class="alert alert-danger text-center" role="alert">-->
        <!--什么是前端价值面试（Front-end Value Interview）?-->
        <!--<a href="" class="alert-link">点击了解 【前端价值面试体系】 </a>-->
    <!--</div>-->
    <!--<hr>-->
    <div class="row">
        <div class="col-md-10">
            <h3><span class="glyphicon glyphicon-check"></span> Angular 2 面试必备</h3>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="q1">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#a1" aria-expanded="true" aria-controls="a1">
                                画出 Angular 的架构原理图
                            </a>
                        </h4>
                    </div>
                    <div id="a1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="q1">
                        <div class="panel-body">

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="q2">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#a2" aria-expanded="false" aria-controls="a2">
                                简述Angular 2 中的主从视图
                            </a>
                        </h4>
                    </div>
                    <div id="a2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q2">
                        <div class="panel-body">

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="q3">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#a3" aria-expanded="false" aria-controls="a3">
                                什么是 Angular 2 合理的项目结构
                            </a>
                        </h4>
                    </div>
                    <div id="a3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q3">
                        <div class="panel-body">

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="q4">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#a4" aria-expanded="false" aria-controls="a4">
                                Angular 应用中的 8 个主要构造块有哪些
                            </a>
                        </h4>
                    </div>
                    <div id="a4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q4">
                        <div class="panel-body">
                            <ul class="nav">
                                <li>模块 (module)</li>
                                <li>组件 (component)</li>
                                <li>模板 (template)</li>
                                <li>元数据 (metadata)</li>
                                <li>数据绑定 (data binding)</li>
                                <li>指令 (directive)</li>
                                <li>服务 (service)</li>
                                <li>依赖注入 (dependency injection)</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="q5">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#a5" aria-expanded="false" aria-controls="a5">
                                什么是元数据对象？
                            </a>
                        </h4>
                    </div>
                    <div id="a5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q5">
                        <div class="panel-body">

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="q6">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#a6" aria-expanded="false" aria-controls="a6">
                                Angular2 支持IE8及其需要使用什么技术
                            </a>
                        </h4>
                    </div>
                    <div id="a6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q6">
                        <div class="panel-body">

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="q7">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#a7" aria-expanded="false" aria-controls="a7">
                                Angular 模块的imports数组与文件顶部的import语句的区别
                            </a>
                        </h4>
                    </div>
                    <div id="a7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q7">
                        <div class="panel-body">

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="q8">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#a8" aria-expanded="false" aria-controls="a8">
                                Angular2 如何显示数据
                            </a>
                        </h4>
                    </div>
                    <div id="a8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q8">
                        <div class="panel-body">
                            属性绑定机制把数据显示到用户界面上。
                            绑定方式：
                            <ul class="nav">
                                <li>通过插值表达式显示组件的属性</li>
                                <li>通过 NgFor 显示数组型属性</li>
                                <li>通过 NgIf 实现按条件显示</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="q9">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#a9" aria-expanded="false" aria-controls="a9">
                                Angular2 如何使用变量赋值的方式初始化组件以及使用构造函数来声明和初始化属性
                            </a>
                        </h4>
                    </div>
                    <div id="a9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q9">
                        <div class="panel-body">
                            Angular 前导星号(*)
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="q10">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#a10" aria-expanded="false" aria-controls="a10">

                            </a>
                        </h4>
                    </div>
                    <div id="a10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q10">
                        <div class="panel-body">

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="q11">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#a11" aria-expanded="false" aria-controls="a11">

                            </a>
                        </h4>
                    </div>
                    <div id="a11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q11">
                        <div class="panel-body">

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="q12">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#a12" aria-expanded="false" aria-controls="a12">

                            </a>
                        </h4>
                    </div>
                    <div id="a12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q12">
                        <div class="panel-body">

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="q13">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#a13" aria-expanded="false" aria-controls="a13">

                            </a>
                        </h4>
                    </div>
                    <div id="a13" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q13">
                        <div class="panel-body">

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="q14">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#a14" aria-expanded="false" aria-controls="a14">

                            </a>
                        </h4>
                    </div>
                    <div id="a14" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q14">
                        <div class="panel-body">

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="q15">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#a15" aria-expanded="false" aria-controls="a15">

                            </a>
                        </h4>
                    </div>
                    <div id="a15" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q15">
                        <div class="panel-body">

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="q16">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#a16" aria-expanded="false" aria-controls="a16">

                            </a>
                        </h4>
                    </div>
                    <div id="a16" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q16">
                        <div class="panel-body">

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="q17">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#a17" aria-expanded="false" aria-controls="a17">

                            </a>
                        </h4>
                    </div>
                    <div id="a17" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q17">
                        <div class="panel-body">

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="q18">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#a18" aria-expanded="false" aria-controls="a18">

                            </a>
                        </h4>
                    </div>
                    <div id="a18" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q18">
                        <div class="panel-body">

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="q19">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#a19" aria-expanded="false" aria-controls="a19">

                            </a>
                        </h4>
                    </div>
                    <div id="a19" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q19">
                        <div class="panel-body">

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="q20">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#a20" aria-expanded="false" aria-controls="a20">

                            </a>
                        </h4>
                    </div>
                    <div id="a20" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q20">
                        <div class="panel-body">

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="q21">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#a21" aria-expanded="false" aria-controls="a21">

                            </a>
                        </h4>
                    </div>
                    <div id="a21" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q21">
                        <div class="panel-body">

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="q22">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#a22" aria-expanded="false" aria-controls="a22">

                            </a>
                        </h4>
                    </div>
                    <div id="a22" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q22">
                        <div class="panel-body">

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="q23">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#a23" aria-expanded="false" aria-controls="a23">

                            </a>
                        </h4>
                    </div>
                    <div id="a23" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q23">
                        <div class="panel-body">

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="q24">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#a24" aria-expanded="false" aria-controls="a24">

                            </a>
                        </h4>
                    </div>
                    <div id="a24" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q24">
                        <div class="panel-body">

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="q25">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#a25" aria-expanded="false" aria-controls="a25">

                            </a>
                        </h4>
                    </div>
                    <div id="a25" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q25">
                        <div class="panel-body">

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="q26">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#a26" aria-expanded="false" aria-controls="a26">

                            </a>
                        </h4>
                    </div>
                    <div id="a26" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q26">
                        <div class="panel-body">

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="q27">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#a27" aria-expanded="false" aria-controls="a27">

                            </a>
                        </h4>
                    </div>
                    <div id="a27" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q27">
                        <div class="panel-body">

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-2">
            <h3><span class="glyphicon glyphicon-link"></span> Next Steps</h3>
        </div>
    </div> <!-- row -->

</div>


</body>
</html>
