<!DOCTYPE html>
<html>
<head>
    <title>StartBit</title>
    <% include /views/header.ejs %>
</head>
<body>
<% include /views/nav.ejs %>
<div class="jumbotron text-center">
    <div class="container">

    </div>
</div>
</body>
</html>
