<div class="alert  text-left" role="alert">
    <h3><i class="glyphicon glyphicon-flash"></i> 技能要求指数</h3>
    <div class="row skillContent">
        <div class="col-md-3 skillContentTitle text-right">

            <p><span>Angular</span></p>
            <p><span>Ionic Framework</span></p>
            <p><span>Angular2</span></p>
            <p><span>TypeScript</span></p>
            <p><span>ES6</span></p>
            <p><span>HTML5</span></p>
            <p><span>CSS3</span></p>

        </div>
        <div class="col-md-7 skillContentStar">
            <p><i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i></p>
            <p><i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i></p>
            <p><i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i></p>
            <p><i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i></p>
            <p><i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i>
            <p><i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i>
            <p><i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i>
        </div>
    </div>
</div>